/* Just to start I freaking hate CSS. Margin and other sizing uses REM because I want to be use to it.
1 rem = 16px */

/* To clear the default margins and padding */
:root {
  --page-bg: #0f172a;
  --site-bg: #ffffff;
  --section-bg: #f1f5f9;
  --accent-blue: #38bdf8;
  --deep-blue: #0369a1;
  --text-dark: #1e293b;
  --text-light: #f8fafc;
  --border-color: #334155;
}
* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  /* font-size: 16px; */
}

body {
  background-color: var(--page-bg);
  color: var(--text-dark);
  font-family: Verdana, sans-serif;
  line-height: 1.5;
  font-size: 16px;
}

.site-wrapper {
  background-color: var(--site-bg);
  color: var(--text-dark);
  margin: 0 auto;
  border: 2px solid var(--border-color);
  min-height: 100vh;
  width: 90%;
  max-width: 1100px;
}
/* .site-wrapper {
  background-color: var(--site-bg);
  color: var(--text-dark);
  margin: 0 auto;
  border: 2px solid var(--border-color);
  min-height: 100vh;
  width: 90%;
  max-width: 1100px;
} */
header {
  background-color: var(--accent-blue);
  color: var(--text-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 0rem;
}

article {
  background-color: var(--section-bg);
  border-top: 1px solid var(--border-color);
  padding: 2rem 0rem;
}

h1 {
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
}

footer {
  background-color: var(--deep-blue);
  color: var(--text-light);
  text-align: center;
  font-weight: bold;
  padding: 2rem;
}

code {
  display: block;
  font-size: 1rem;
}
.container {
  width: 90%;
  max-width: 850px;
  margin: 0 auto;
  padding: 1rem;
}
.main-nav ul {
  list-style-type: none;
  margin: 0rem;
  padding: 0.5rem;
}

.main-nav a {
  color: var(--text-dark);
  text-decoration: none;
  font-weight: bold;
}

.main-nav li {
  text-align: justify;
}

.main-nav a:hover,
.main-nav a:focus-visible {
  color: var(--text-light);
}

.code {
  font-family: "Courier New", Courier, monospace;
  font-weight: 525;
  font-size: 1rem;
}

.code-indent {
  text-indent: 4ch;
}

.code-content {
  text-align: center;
}

.construction {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

@media (width < 650px) {
  .site-wrapper {
    max-width: 95%;
  }

  article {
    /* Fixes padding issue on mobile I noticed */
    padding: 0.5rem 0.5rem;
  }

  h1 {
    /* This is a media query and you really need to lean them now. */
    font-size: 1.5rem;
  }

  .container {
    width: 95%;
    padding: 1rem;
  }
}
