/* Just to start I freaking hate CSS. Margin and other sizing uses REM because I want to be use to it.
1 rem = 16px */

/* To clear the default margins and padding */
* { 
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}
article {
    margin-bottom: 1rem;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0rem 1rem;
    padding: 0rem  0rem;
    min-height: fit-content; 
    min-width: fit-content;
}
h1{
    text-align: center;
    font-size: 3rem;
    margin: 1rem;
    padding: 1rem;
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d6d1d1;
    padding: 0rem 0rem;
    }

footer{
    text-align: center;
    font-weight: bold;
    margin: 2rem;
    padding: 2rem;
}
main {
    padding: 0rem 0rem;
    
}
main p {
    line-height: 1.5;
    margin: 0.5rem;
    padding: 0.5rem;

}
code{
    display: block;
    font-size: 1rem;
}
.main-nav ul {
    list-style-type: none;
    margin: 0.5rem;
    padding: 0.5rem;
}
.main-nav a{
    color:#333333;
    text-decoration: none;
    font-weight: bold;
}
.main-nav li{
    text-align: justify;
}
.main-nav a:hover, .main-nav a:focus-visible {
    color: aqua;
}
.code{
    font-family: monospace;
    font-weight: 525;
    font-size: 1rem;

}
.code-indent {
    text-indent: 4ch;
}
.code-content {
    text-align: center;
}
.construction {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}