/* Just to start I freaking hate CSS. It's just so freaking annoying I can't get into it. I'll learn it, but I'll never like it. */

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0%  0%;
    min-height: 100vhw; 
    min-width: 95vhw;
}
h1{
    text-align: center;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 0% 0%;
    }

footer{
    /* border: 5px dashed red; */
    text-align: center;
    font-weight: bold;
    padding: 0% 0%;
}
main {
    /* border: 5px dashed purple; */
    padding: 0% 0%;
    
}

.main-nav ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
}
.main-nav a{
    color:#333333;
    text-decoration: none;
    font-weight: bold;
}
.main-nav a:hover, .main-nav a:focus-visible {
    color: aqua;
}